<form method="POST" action="/space/carriers/{{id}}/addFighter">
  <label>Name</label>
  <input type="text" name="name" />
  <label>Carrier Dock: </label>
  <input type="text" name="carrierDisp" value="{{carrier.name}}" disabled="true" />
  <input type="hidden" name="carrierDock" value="{{carrier.name}}" />
  <select name="engine" class="baseImage">
    <option value="Interceptor">Interceptor</option>
    <option value="Air Superiority">Air Superiority</option>
    <option value="Recon">Recon</option>
  </select>
   <label>Weapons Package</label>
  <select name="weapons">
    <option value="GAU-8 Rotary Cannon">GAU-8 Rotary Cannon</option>
    <option value="FAF Missile Rack">FAF Missile Rack</option>
    <option value="EMP Burst Launcher">EMP Burst Launcher</option>
  </select>
 
  <input type="hidden" name="carrierID" value="{{id}}" />
  <input type="submit" value="Add Fighter" />
  <input type="text" name="image" value="{{singleFighter.image}}" class="image" hidden="true"/>

</form>

<div class="shipImgHolder">
    <img src="/images/Interceptor.jpg" alt="fighterImage" class="shipImg">
</div>