<div class="shipInfo">
  <form method="POST" action="/space/carriers/{{id}}/addFighter">
  <div class="nameHeader">
    <label>Name</label>
    <input type="text" name="name" />
  </div>
  <div>
    <label>Carrier Dock: </label>
    <input type="text" name="carrierDisp" value="{{carrier.name}}" disabled="true" />
    <input type="hidden" name="carrierDock" value="{{carrier.name}}" />
  </div>
  <div>
    <select name="engine" class="baseImage">
      <option value="Interceptor">Interceptor</option>
      <option value="Air Superiority">Air Superiority</option>
      <option value="Recon">Recon</option>
    </select>
  </div>
  <div>
    <label>Weapons Package</label>
    <select name="weapons">
      <option value="GAU-8 Rotary Cannon">GAU-8 Rotary Cannon</option>
      <option value="FAF Missile Rack">FAF Missile Rack</option>
      <option value="EMP Burst Launcher">EMP Burst Launcher</option>
    </select>
  </div>
  <input type="hidden" name="carrierID" value="{{id}}" />
  <div class="refitBtn">
    <input type="submit" value="Add Fighter" />
  </div>
    <input type="text" name="image" value="{{singleFighter.image}}" class="image" hidden="true"/>
  </form>
</div>

<div class="shipImgHolder">
    <img src="/images/Interceptor.png" alt="fighterImage" class="shipImg">
</div>