<form method="POST" action="/space/carriers/{{carrId}}?_method=PUT">
    <label>Name</label>
    <input type="text" name="description" value="{{carrierEscort.name}}"/>
    <label>Fighter Escort</label>
    <input type="number" name="fightNum" value="{{carrierEscort.fighterNum}}"/>
    <label>Bomber Escort</label>
    <input type="number" name="bombNum" value="{{carrierEscort.bomberNum}}"/>

    {{!-- <input type="submit" value="Refit Carrier" /> --}}
</form>

{{!-- <form method="POST" action="/space/carriers{{id}}?_method=DELETE">
    <input type="submit" value="Delete Issue" />
</form> --}}

<h1>Fighters</h1>
<a href="/space/carriers/{{carrId}}/addFighter">Add Fighter</a>
<ul>
    {{#each fighterEscort}}
    <li>
        <a href="/space/fighter/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>

<h1>Bombers</h1>
<a href="/space/carriers/{{carrId}}/addBomber">Add Bomber</a>
<ul>
    {{#each bomberEscort}}
    <li>
        <a href="/space/bomber/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>