<form method="POST" action="/space/carriers/{{carrId}}?_method=PUT">
    <label>Name</label>
    <input type="text" name="name" value="{{carrierEscort.name}}"/>
    <label>Hull Plating</label>
    <select name="armor">
                {{!-- helpercall     value test --}}
        <option value="Cruiser Hull" {{selectedHelper carrierEscort.armor 'Cruiser Hull'}}>Cruiser Hull</option>
        <option value="Stealth Coating" {{selectedHelper carrierEscort.armor 'Stealth Coating'}}>Stealth Coating</option>
        <option value="Composite Plating" {{selectedHelper carrierEscort.armor 'Composite Plating'}}>Composite Plating</option>
     </select>
     <label>Armarments</label>
    <select name="weapons">
                {{!-- helpercall     value test --}}
        <option value="Rail Gun" {{selectedHelper carrierEscort.weapons 'Rail Gun'}}>Rail Gun</option>
        <option value="Flak Cannon" {{selectedHelper carrierEscort.weapons 'Flak Cannon'}}>Flak Cannon</option>
        <option value="Torpedo Volley" {{selectedHelper carrierEscort.weapons 'Torpedo Volley'}}>Torpedo Volley</option>
     </select>
    <input type="submit" value="Refit Carrier" />
</form>

<form method="POST" action="/space/carriers/{{id}}?_method=DELETE">
    <input type="submit" value="Delete Carrier" />
</form>

<h1>Fighters</h1>
<a href="/space/carriers/{{carrId}}/addFighter">Add Fighter</a>
<ul>
    {{#each fighterEscort}}
    <li>
        <a href="/space/fighter/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>

<h1>Bombers</h1>
<a href="/space/carriers/{{carrId}}/addBomber">Add Bomber</a>
<ul>
    {{#each bomberEscort}}
    <li>
        <a href="/space/bomber/{{id}}">{{name}}</a>
    </li>
    {{/each}}
</ul>