{{!-- <form method="POST" action="/space/fighter/{{id}}?_method=PUT/{{singleFighter.carrierID}}"></form> --}}
<form method="POST" action="/space/fighter/{{singleFighter.id}}?_method=PUT">
  <label>Name</label>
  <input type="text" name="name" value="{{singleFighter.name}}"/>
  <label>Carrier Dock</label>
  <input type="text" name="carrierDock" value="{{singleFighter.carrierDock}}"/>
  <label>Engine Loadout</label>
  <select name="engine">
                {{!-- helpercall     value test --}}
    <option value="Interceptor" {{selectedHelper singleFighter.engine 'Interceptor'}}>Interceptor</option>
    <option value="Air Superiority" {{selectedHelper singleFighter.engine 'Air Superiority'}}>Air Superiority</option>
    <option value="Recon" {{selectedHelper singleFighter.engine 'Recon'}}>Recon</option>
  </select>
  <input type="hidden" name="carrierID" value="{{singleFighter.carrierID}}"/>
  <input type="submit" value="Refit Fighter" />
</form>

<form method="POST" action="/space/fighter/{{singleFighter.id}}?_method=DELETE">
  <input type="submit" value="Scuttle Fighter" />
</form>