{{!-- <form method="POST" action="/space/fighter/{{id}}?_method=PUT/{{singleFighter.carrierID}}"></form> --}}
<form method="POST" action="/space/fighter/{{singleFighter.id}}?_method=PUT">
  <label>Name</label>
  <input type="text" name="name" value="{{singleFighter.name}}"/>
  <label>Carrier Dock</label>
  <input type="text" name="carrierDock" value="{{singleFighter.carrierDock}}"/>
  <label>Engine Loadout</label>
  <select name="engine">
                {{!-- helpercall     value test --}}
    <option value="Interceptor" {{selectedHelper singleFighter.engine 'Interceptor'}}>Interceptor</option>
    <option value="Air Superiority" {{selectedHelper singleFighter.engine 'Air Superiority'}}>Air Superiority</option>
    <option value="Recon" {{selectedHelper singleFighter.engine 'Recon'}}>Recon</option>
  </select>
  <label>Weapons Package</label>
  <select name="weapons">
                {{!-- helpercall     value test --}}
    <option value="GAU-8 Rotary Cannon" {{selectedHelper singleFighter.weapons 'GAU-8 Rotary Cannon'}}>GAU-8 Rotary Cannon</option>
    <option value="FAF Missile Rack" {{selectedHelper singleFighter.weapons 'FAF Missile Rack'}}>FAF Missile Rack</option>
    <option value="EMP Burst Launcher" {{selectedHelper singleFighter.weapons 'EMP Burst Launcher'}}>EMP Burst Launcher</option>
  </select>
  <input type="hidden" name="carrierID" value="{{singleFighter.carrierID}}"/>
  <input type="submit" value="Refit Fighter" />
</form>

<form method="POST" action="/space/fighter/{{singleFighter.id}}?_method=DELETE">
  <input type="submit" value="Scuttle Fighter" />
</form>